<div class="container" *ngIf="user">
<div>
  <h1 class="userValue" style="padding-top: 1em">Users</h1>
  <h6 class="userValue" style="margin-bottom: 2em">Personal Information</h6>
</div>
<div class="row" style="margin-bottom: 3em">
<div class="col-sm-2">
  <img [src]="user.picture.large"
       alt=""
       class="img-responsive rounded-circle"
       style="max-height: 90px">
</div>
  <div class="col-sm-10 userValue" style="padding-top: 3em">
    Change Profile Picture
  </div>
</div>
<div class="container">
  <div class="row">
    <label class="col-sm-2">Title</label>
    <div class="userValue boxed col-sm-4">{{user.name.title}}
    </div>
  </div>

  <div class="row">
    <label class="col-sm-2">First Name</label>
    <div class="userValue boxed col-sm-4">{{user.name.first}}
    </div>
  </div>

  <div class="row">
    <label class="col-sm-2">Last Name</label>
    <div class="userValue boxed col-sm-4">{{user.name.last}}
    </div>
  </div>

  <div class="row">
    <label class="col-sm-2">Phone</label>
    <div class="userValue boxed col-sm-4">{{user.phone}}
    </div>
  </div>

  <div class="row">
    <label class="col-sm-2">City</label>
    <div class="userValue boxed col-sm-4">{{user.location.city}}
    </div>
  </div>

  <div class="row">
    <label class="col-sm-2">State</label>
    <div class="userValue boxed col-sm-4">{{user.location.state}}
    </div>
  </div>

  <div class="row">
    <label class="col-sm-2">Email</label>
    <div class="userValue boxed col-sm-4">{{user.email}}
    </div>
  </div>

  <div class="row">
    <label class="col-sm-2">DOB</label>
    <div class="userValue boxed col-sm-4">{{user.dob.date}}
    </div>
  </div>


</div>
</div>


