<div class="row">
  <div class="col-sm-12">
    <h1 style="color: #007EC5; padding: 13px; margin-top: 1em">Users</h1>
  </div>
</div>

<div class="container">
  <div class="table-responsive">
<table class="table table-condensed table-hover">
  <thead style="background: #007EC5; color: white;">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>DOB</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-row" *ngFor="let user of users; let i = index" (click)="showDetails(i)">
    <td>{{user.name.first}}</td>
    <td>{{user.name.last}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.email}}</td>
    <td>{{user.dob.date}}</td>
  </tr>
  </tbody>
</table>
</div>
</div>
